#b1 
{background-color: #FF0000;}
#b2 
{background-color: #FF0000;}
#b3 
{background-color: #FF0000;}
#b4 
{background-color: #FF0000;}
#b5 
{background-color: #FF0000;}
#b6 
{background-color: #FF0000;}
#b7 
{background-color: #FF0000;}
#b8 
{background-color: #FF0000;}
#b9 
{background-color: #FF0000;}
#b10 
{background-color: #FF0000;}
#b11 
{background-color: #FF0000;}
#b12 
{background-color: #FF0000;}
#b13 
{background-color: #FF0000;}
#b14 
{background-color: #FF0000;}
